.form-input, .contact-phone-input{
    .mantine-InputWrapper-description{
        font-family: 'Monda', sans-serif;
        font-weight: 500;
        margin-bottom: 18px;
        color: #fff;
    }
    .mantine-Input-wrapper{
        input{
            background: none;
            color: #fff;
            &:focus{
                border: 1px solid #FF7A00 !important;
            }
        }
    }
}

.contact-phone-input{
    .mantine-InputWrapper-description{
          font-family: 'Monda', sans-serif ;
        font-weight: 500;
        margin-bottom: 18px !important;
        font-size: 17px !important;
        color: #fff;
    }
    .mantine-InputWrapper-error{
        font-size: 16px !important;
    }
    input{
        background: none !important;
    }
}
.custom-dropdown{
    .mantine-Select-options{
        div{
           .mantine-Select-option{
            &:hover{
                color: #000 !important;
            }
           }
        }
    }
}