.mySwiper-tech-info{
    position: unset !important;
    .swiper-button-next, .swiper-button-prev{
        @apply top-[35px] bg-[#121212] border border-[#2A2A2A] rounded-full w-[35px] h-[35px] sm:w-[40px] sm:h-[40px];
        &::after{
            color: #fff;
            font-size: 13px;
        }
    }
    .swiper-button-prev{
        @apply left-0;
    }
    .swiper-button-next{
        @apply left-[140px] sm:left-[150px];
    }
}